<div class="container">
  <div class="intro-text">

    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="text-align:center;">
      <%= form_with(model:@tweet, local:true) do |form| %>
        <%= form.hidden_field :content %>
        <%= form.text_area :content, :class=>"form-control"  %>
        <br />

        <%= render 'error' %>

        <p><%= form.submit "つぶやく" %></p>

      <% end %>

      <%= form_with(model:@tweet, url:tweets_path, local:true, method:'get') do |form| %>
        <%= form.hidden_field :content %>
        <p><%= form.submit "戻る",name:'back' %></p>
      <% end %>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
